.first{

background: linear-gradient(to right,#ef395b,#f14d45,#c83383,#340bae);

}
.second{

background :radial-gradient(circle, red, yellow, green);

}

table{
    margin: 20px auto;
    border-radius: 20px;
    color: rgb(231, 221, 229);
    font-family: 'Brush Script MT', cursive;
  
}


td{
    width: 100px;
    height: 100px;
    background: rgb(105, 92, 92);
    font-size: 60px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

}
td:hover{
    background: #947775;
    border-radius: 35px;
}

#btn1{
   
    background: #020202;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    color: white;
    
   

}
#btn2{
   
    background: #050505;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    color: white;
    
 

}


#btn1:hover{
    transform: translateY(5%);
    background: #726c81;
}
#btn2:hover{
    transform: translateY(5%);
    background: #726c81;
}